menu Arch
source "../arch/arm/Kconfig"
endmenu

source "../drivers/Kconfig"

menu "Debug system"

config DEBUG
    bool "debug info"
    default n

config DEBUG_PRINTF
    bool "printf function"
    default n

endmenu

config SHELL
    bool "shell"
    default y

source "../shell/Kconfig"

