menu Drivers

config TIMER
    bool "timer"
    default n

menu GPIO

config GPIO
    bool "gpio"
    default n

config DEBUG_GPIO
    depends on GPIO
    bool "debug prints"
    default n

endmenu

config DDR
    bool "ddr"
    default n

menu UART

config SERIAL_UART
    bool "serial communications"
    default y

config UART1
    depends on SERIAL_UART
    bool "uart1"
    default n

endmenu

endmenu
